<%- include ("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>A social media you didn't need</h1>
			<p>What a nice site</p>
			<p><a class="btn btn-primary btn-large" href="/feed/new">Go to feed new to post something</a></p>
		</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% feed.forEach((feed) =>{ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%=  feed.image %>" />
				<div class="caption">
					<h4><%= feed.name %></h4>
				</div>
				<p>
					<a href="/feed/<%=feed._id %>" class="btn btn-primary">More Info</a>
					<%= feed.description %>
				</p>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<%- include ("partials/footer") %>
